body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.codigo-container {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
}

.codigo-left {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-color: #ffffff;
  box-sizing: border-box;
}

.codigo-header {
  margin-top: 30px;
}

.codigo-header h2 {
  font-size: 28px;
  color: #2b2b2b;
  margin-bottom: 20px;
}

.codigo-inputs {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

.codigo-inputs input {
  width: 55px;
  height: 65px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ccc;
  border-radius: 12px;
  transition: border-color 0.3s;
}

.codigo-inputs input:focus {
  border-color: #3caab7;
  outline: none;
}

.codigo-texto {
  font-size: 15px;
  color: #777;
  margin-bottom: 25px;
}

.codigo-texto a {
  color: #3caab7;
  text-decoration: none;
  font-weight: 500;
}

.codigo-acciones {
  display: flex;
  justify-content: flex-start;
}

.codigo-left button {
  padding: 14px 28px;
  font-size: 16px;
  background-color: #3caab7;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.codigo-left button:hover {
  background-color: #32929c;
}

.codigo-right {
  flex: 1;
  background-color: #2ba3a5;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: ellipse(85% 100% at 100% 85%);
  overflow: hidden;
}

.codigo-right img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}