.inicio {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .inicio .div-2 {
    background-color: #ffffff;
    height: 2955px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .inicio .overlap-4 {
    height: 884px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1463px;
  }
  
  .inicio .vector {
    height: 884px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .inicio .ECOFLASKY {
    height: 194px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 194px;
  }
  
  .inicio .p {
    color: #000000;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 877px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 729px;
    width: 490px;
  }
  
  .inicio .group-15 {
    left: 327px !important;
    position: absolute !important;
    top: 56px !important;
  }
  
  .inicio .text-wrapper-10 {
    color: #000000;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 70px;
    font-weight: 400;
    left: 981px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 643px;
    white-space: nowrap;
  }
  
  .inicio .overlap-5 {
    height: 85px;
    left: 427px;
    position: absolute;
    top: 1134px;
    width: 626px;
  }
  
  .inicio .text-wrapper-11 {
    color: #000000;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 66px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 626px;
  }
  
  .inicio .image {
    height: 5px;
    left: 3px;
    object-fit: cover;
    position: absolute;
    top: 70px;
    width: 622px;
  }
  
  .inicio .overlap-6 {
    height: 506px;
    left: 557px;
    position: absolute;
    top: 1259px;
    width: 325px;
  }
  
  .inicio .text-wrapper-12 {
    color: #000000;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 318px;
    white-space: nowrap;
    width: 267px;
  }
  
  .inicio .text-wrapper-13 {
    color: #000000;
    font-family: "Buda-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 360px;
    width: 300px;
  }
  
  .inicio .group-2 {
    height: 506px;
    left: 0;
    position: absolute;
    top: 0;
    width: 325px;
  }
  
  .inicio .overlap-group-2 {
    border-radius: 30px;
    height: 506px;
    left: 0;
    position: absolute;
    top: 0;
    width: 325px;
  }
  
  .inicio .component-2 {
    left: 87px !important;
    position: absolute !important;
    top: 455px !important;
  }
  
  .inicio .rectangle {
    border: 1px solid;
    border-color: #53acc866;
    border-radius: 30px;
    height: 506px;
    left: 0;
    position: absolute;
    top: 0;
    width: 325px;
  }
  
  .inicio .shopping-cart {
    background-image: url(./vector-3.svg);
    background-size: 100% 100%;
    border-radius: 30px;
    height: 28px;
    left: -772px;
    overflow: hidden;
    position: absolute;
    top: -1322px;
    width: 26px;
  }
  
  .inicio .img {
    height: 23px;
    left: 1px;
    position: absolute;
    top: 2px;
    width: 22px;
  }
  
  .inicio .text-wrapper-14 {
    color: #000000;
    font-family: "Inter-ExtraLight", Helvetica;
    font-size: 24px;
    font-weight: 200;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    width: 36px;
  }
  
  .inicio .text-wrapper-15 {
    color: #ffffff;
    font-family: "Inter-Light", Helvetica;
    font-size: 32px;
    font-weight: 300;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 73px;
    white-space: nowrap;
    width: 85px;
  }
  
  .inicio .image-2 {
    height: 233px;
    left: 46px;
    object-fit: cover;
    position: absolute;
    top: 58px;
    width: 233px;
  }
  
  .inicio .component-1 {
    left: 995px !important;
    position: absolute !important;
    top: 904px !important;
  }
  
  .inicio .overlap-7 {
    height: 506px;
    left: 950px;
    position: absolute;
    top: 1259px;
    width: 325px;
  }
  
  .inicio .text-wrapper-16 {
    color: #000000;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 318px;
    white-space: nowrap;
    width: 144px;
  }
  
  .inicio .overlap-8 {
    border-radius: 30px;
    height: 506px;
    position: relative;
  }
  
  .inicio .component-3 {
    background-color: #53acc8;
    border: 1px solid;
    border-color: #53acc866;
    border-radius: 41px;
    height: 37px;
    left: 91px;
    position: absolute;
    top: 454px;
    width: 152px;
  }
  
  .inicio .text-wrapper-17 {
    color: #ffffff;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 46px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    white-space: nowrap;
  }
  
  .inicio .img-2 {
    height: 241px;
    left: 13px;
    object-fit: cover;
    position: absolute;
    top: 54px;
    width: 300px;
  }
  
  .inicio .overlap-9 {
    height: 28px;
    left: -215px;
    position: absolute;
    top: -63px;
    width: 26px;
  }
  
  .inicio .shopping-cart-2 {
    background-image: url(./vector.svg);
    background-size: 100% 100%;
    height: 28px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 26px;
  }
  
  .inicio .shopping-cart-3 {
    background-image: url(./vector-5.svg);
    background-size: 100% 100%;
    height: 28px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 26px;
  }
  
  .inicio .overlap-10 {
    height: 506px;
    left: 164px;
    position: absolute;
    top: 1259px;
    width: 325px;
  }
  
  .inicio .text-wrapper-18 {
    color: #000000;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 318px;
    white-space: nowrap;
    width: 273px;
  }
  
  .inicio .component-instance {
    left: 86px !important;
    position: absolute !important;
    top: 454px !important;
  }
  
  .inicio .img-3 {
    height: 281px;
    left: 50px;
    position: absolute;
    top: 42px;
    width: 223px;
  }
  
  .inicio .overlap-11 {
    height: 1011px;
    left: 0;
    position: absolute;
    top: 1944px;
    width: 1440px;
  }
  
  .inicio .rectangle-2 {
    height: 356px;
    left: 0;
    position: absolute;
    top: 655px;
    width: 1440px;
  }
  
  .inicio .group-3 {
    height: 18px;
    left: 57px;
    position: absolute;
    top: 801px;
    width: 82px;
  }
  
  .inicio .iconmonstr-instagram {
    height: 18px;
    left: 32px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 18px;
  }
  
  .inicio .iconmonstr-twitter {
    height: 18px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 18px;
  }
  
  .inicio .iconmonstr-facebook {
    height: 18px;
    left: 64px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 18px;
  }
  
  .inicio .copia-de-ECOFLASKY {
    height: 175px;
    left: 11px;
    object-fit: cover;
    position: absolute;
    top: 646px;
    width: 175px;
  }
  
  .inicio .group-4 {
    height: 22px;
    left: 416px;
    position: absolute;
    top: 703px;
    width: 912px;
  }
  
  .inicio .overlap-group-wrapper {
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 54px;
  }
  
  .inicio .overlap-group-3 {
    height: 17px;
    position: relative;
    width: 52px;
  }
  
  .inicio .rectangle-3 {
    background-color: #53acc8;
    height: 1px;
    left: 0;
    position: absolute;
    top: 14px;
    width: 45px;
  }
  
  .inicio .text-wrapper-19 {
    color: #ffffff;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 50px;
  }
  
  .inicio .text-wrapper-20 {
    color: #ffffff;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 125px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 120px;
  }
  
  .inicio .text-wrapper-21 {
    color: #ffffff;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 318px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 84px;
  }
  
  .inicio .text-wrapper-22 {
    color: #ffffff;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 475px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 128px;
  }
  
  .inicio .text-wrapper-23 {
    color: #ffffff;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 676px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 105px;
  }
  
  .inicio .text-wrapper-24 {
    color: #ffffff;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 854px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 48px;
  }
  
  .inicio .text-wrapper-25 {
    color: #ffffff;
    font-family: "Buda-Light", Helvetica;
    font-size: 13px;
    font-weight: 300;
    left: 416px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 811px;
    width: 662px;
  }
  
  .inicio .text-wrapper-26 {
    color: #ffffff;
    font-family: "Buda-Light", Helvetica;
    font-size: 13px;
    font-weight: 300;
    left: 41px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 904px;
    width: 290px;
  }
  
  .inicio .group-wrapper {
    height: 28px;
    left: 1116px;
    position: absolute;
    top: 860px;
    width: 202px;
  }
  
  .inicio .group-5 {
    height: 28px;
    position: relative;
  }
  
  .inicio .image-3 {
    height: 24px;
    left: 164px;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 38px;
  }
  
  .inicio .mastr {
    height: 23px;
    left: 64px;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 32px;
  }
  
  .inicio .credoma-removebg {
    height: 24px;
    left: 111px;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 43px;
  }
  
  .inicio .gtyh-removebg {
    height: 28px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 58px;
  }
  
  .inicio .rectangle-4 {
    height: 658px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .inicio .text-wrapper-27 {
    color: #ffffff;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 48px;
    font-weight: 400;
    left: 395px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 68px;
    width: 626px;
  }
  
  .inicio .text-2 {
    color: #ffffff;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 158px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 311px;
    white-space: nowrap;
  }
  
  .inicio .group-6 {
    height: 337px;
    left: 164px;
    position: absolute;
    top: 218px;
    width: 1122px;
  }
  
  .inicio .overlap-12 {
    background-color: #cccccc7a;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #53acc8cc;
    height: 328px;
    left: 0;
    position: absolute;
    top: 0;
    width: 289px;
  }
  
  .inicio .text-wrapper-28 {
    color: #000000;
    font-family: "Buda-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 163px;
    width: 243px;
  }
  
  .inicio .text-wrapper-29 {
    color: #000000;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 105px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 111px;
    white-space: nowrap;
    width: 88px;
  }
  
  .inicio .group-7 {
    height: 36px;
    left: 48px;
    position: absolute;
    top: 282px;
    width: 191px;
  }
  
  .inicio .star {
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 31px;
  }
  
  .inicio .star-2 {
    height: 35px;
    left: 41px;
    position: absolute;
    top: 0;
    width: 31px;
  }
  
  .inicio .star-3 {
    height: 35px;
    left: 81px;
    position: absolute;
    top: 1px;
    width: 31px;
  }
  
  .inicio .star-4 {
    height: 35px;
    left: 120px;
    position: absolute;
    top: 0;
    width: 31px;
  }
  
  .inicio .star-half {
    background-image: url(./group.png);
    background-size: 100% 100%;
    height: 35px;
    left: 160px;
    position: absolute;
    top: 1px;
    width: 31px;
  }
  
  .inicio .group-8 {
    background-image: url(./image.png);
    background-size: 100% 100%;
    height: 28px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 26px;
  }
  
  .inicio .ellipse {
    height: 73px;
    left: 112px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 73px;
  }
  
  .inicio .overlap-13 {
    background-color: #cccccc7a;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #53acc8cc;
    height: 328px;
    left: 413px;
    position: absolute;
    top: 9px;
    width: 289px;
  }
  
  .inicio .text-wrapper-30 {
    color: #000000;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 83px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 111px;
    white-space: nowrap;
    width: 122px;
  }
  
  .inicio .star-half-2 {
    background-image: url(./group-2.png);
    background-size: 100% 100%;
    height: 35px;
    left: 160px;
    position: absolute;
    top: 1px;
    width: 31px;
  }
  
  .inicio .group-9 {
    background-image: url(./group-3.png);
    background-size: 100% 100%;
    height: 28px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 26px;
  }
  
  .inicio .overlap-14 {
    background-color: #cccccc7a;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #53acc8cc;
    height: 328px;
    left: 821px;
    position: absolute;
    top: 9px;
    width: 289px;
  }
  
  .inicio .text-wrapper-31 {
    color: #000000;
    font-family: "Buda-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 163px;
    width: 243px;
  }
  
  .inicio .text-wrapper-32 {
    color: #000000;
    font-family: "Bellefair-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 103px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 111px;
    white-space: nowrap;
    width: 88px;
  }
  
  .inicio .group-10 {
    height: 36px;
    left: 46px;
    position: absolute;
    top: 282px;
    width: 191px;
  }
  
  .inicio .star-half-3 {
    background-image: url(./group-4.png);
    background-size: 100% 100%;
    height: 35px;
    left: 160px;
    position: absolute;
    top: 1px;
    width: 31px;
  }
  
  .inicio .group-11 {
    background-image: url(./group-5.png);
    background-size: 100% 100%;
    height: 28px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 26px;
  }
  
  .inicio .ellipse-2 {
    height: 73px;
    left: 110px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 73px;
  }
  
  .inicio .keyboard-double {
    background-image: url(./group-6.png);
    background-size: 100% 100%;
    height: 72px;
    left: 1340px;
    position: absolute;
    top: 1476px;
    width: 72px;
  }
  
  .inicio .group-12 {
    background-image: url(./group-7.png);
    background-size: 100% 100%;
    height: 36px;
    left: 15px;
    position: relative;
    top: 18px;
    width: 42px;
  }
  
  .inicio .overlap-wrapper {
    height: 72px;
    left: 27px;
    position: absolute;
    top: 1476px;
    transform: rotate(-180deg);
    width: 72px;
  }
  
  .inicio .overlap-15 {
    height: 72px;
    position: relative;
  }
  
  .inicio .group-13 {
    height: 72px;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    width: 72px;
  }
  
  .inicio .group-14 {
    background-image: url(./group-9.png);
    background-size: 100% 100%;
    height: 36px;
    left: 15px;
    position: absolute;
    top: 18px;
    width: 42px;
  }
  